body {
    background-color: blanchedalmond;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}
p {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

ul {
    color: black;
    text-align: center;
    list-style: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}